<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hell HTMX</title>
    <link rel="stylesheet" href="../../dist/css/output.css">
</head>
<body>
    <div class="container">
        <div class="flex px-14 bg-gradient-to-r from-slate-700 to-slate-400 text-white w-full py-3 fixed">
            <div class="text-lg font-bold">
                Navbar
            </div>
        </div>
        
        <button hx-post="/clicked"
                hx-trigger="click"
                hx-target="#parent-div"
                hx-swap="outerHTML">
            Click Me!
        </button>
 
    </div>
 
</body>
</html>